doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Мой сайт
    link(rel="stylesheet" href="styles/main.scss")
    script(src="script.js" defer)
    script(src="script.js" defer)

  body
    include ./components/header/header.pug

    include ./components/main/main.pug

    footer
      p © 2025 Все права защищены.